<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appys.dao.appinfo.AppInfoMapper">
    <insert id="addAppInfo" parameterType="AppInfo">
        insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
        devId,appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,
        categoryLevel3,downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
        values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},
        #{softwareSize},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
        #{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},
        #{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
    </insert>

    <select id="getList" resultType="AppInfo">
      SELECT a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,
				(SELECT devName FROM dev_user WHERE id = a.devId) AS devName,
				(SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') AS statusName,
	    		(SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') AS flatformName,
				a.categoryLevel1,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name,
				a.categoryLevel2,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name,
				a.categoryLevel3,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,
				(SELECT v.versionNo FROM app_version v WHERE v.id=a.versionId ) AS versionNo
			FROM  app_info a
			<where>
                <if test="SoftwareName !=null">
                    a.softwareName like '%' #{SoftwareName} '%'
                </if>
                <if test="CategoryLevel1 !=null">
                    and a.categoryLevel1  = #{CategoryLevel1}
                </if>
                <if test="CategoryLevel2 !=null">
                    and  a.categoryLevel2  = #{CategoryLevel2}
                </if>
                <if test="CategoryLevel3 !=null">
                    and a.categoryLevel3  = #{CategoryLevel3}
                </if>
                <if test="FlatformId !=null">
                    and  a.flatformId = #{FlatformId}
                </if>
                <if test="Status !=null">
                    and  a.status = #{Status}
                </if>
                <if test="dId !=null">
                    and a.devId = #{dId}
                </if>
            </where>
              ORDER BY creationDate limit #{from} ,#{pageSize}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM  app_info a
        <where>
            <if test="SoftwareName!=null">
                a.softwareName like '%' #{SoftwareName} '%'
            </if>
            <if test="CategoryLevel1 !=null">
                and a.categoryLevel1  = #{CategoryLevel1}
            </if>
            <if test="CategoryLevel2 !=null">
               and  a.categoryLevel2  = #{CategoryLevel2}
            </if>
            <if test="CategoryLevel3 !=null">
                and a.categoryLevel3  = #{CategoryLevel3}
            </if>
            <if test="FlatformId !=null">
                and  a.flatformId = #{FlatformId}
            </if>
            <if test="status !=null">
                and  a.status = #{status}
            </if>
            <if test="dId !=null">
                and a.devId = #{dId}
            </if>
        </where>
    </select>
    <select id="verifyApkName" resultType="AppInfo">
      select * from app_info
      <where>
          APKName  = #{APKName}
      </where>
    </select>
    <select id="getUpdInfoById" resultType="AppInfo">
        select * from app_info
        <where>
            id  = #{id}
        </where>
    </select>
</mapper>