<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="appys.dao.appinfo.AppInfoMapper">
    <insert id="addAppInfo" parameterType="AppInfo">
        insert into app_info (softwareName,APKName,supportROM,interfaceLanguage,updateDate,softwareSize,
        devId,appInfo,status,onSaleDate,offSaleDate,categoryLevel1,categoryLevel2,
        categoryLevel3,downloads,flatformId,logoPicPath,logoLocPath,createdBy,creationDate)
        values(#{softwareName},#{APKName},#{supportROM},#{interfaceLanguage},#{updateDate},
        #{softwareSize},#{devId},#{appInfo},#{status},#{onSaleDate},#{offSaleDate},
        #{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{downloads},
        #{flatformId},#{logoPicPath},#{logoLocPath},#{createdBy},#{creationDate})
    </insert>

    <select id="getList" resultType="AppInfo">
      SELECT a.id, a.softwareName,a.APKName,a.supportROM,a.softwareSize,a.devId,a.status,a.downloads,
				(SELECT devName FROM dev_user WHERE id = a.devId) AS devName,
				(SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') AS statusName,
	    		(SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') AS flatformName,
				a.categoryLevel1,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name,
				a.categoryLevel2,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name,
				a.categoryLevel3,
				(SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,
				(SELECT v.versionNo FROM app_version v WHERE v.id=a.versionId ) AS versionNo,
                a.versionId
			FROM  app_info a
			<where>
                <if test="SoftwareName !=null">
                    a.softwareName like '%' #{SoftwareName} '%'
                </if>
                <if test="CategoryLevel1 !=null">
                    and a.categoryLevel1  = #{CategoryLevel1}
                </if>
                <if test="CategoryLevel2 !=null">
                    and  a.categoryLevel2  = #{CategoryLevel2}
                </if>
                <if test="CategoryLevel3 !=null">
                    and a.categoryLevel3  = #{CategoryLevel3}
                </if>
                <if test="FlatformId !=null">
                    and  a.flatformId = #{FlatformId}
                </if>
                <if test="Status !=null">
                    and  a.status = #{Status}
                </if>
                <if test="dId !=null">
                    and a.devId = #{dId}
                </if>
            </where>
              ORDER BY creationDate DESC limit #{from} ,#{pageSize}
    </select>
    <select id="getCount" resultType="int">
        SELECT COUNT(*) FROM  app_info a
        <where>
            <if test="SoftwareName!=null">
                a.softwareName like '%' #{SoftwareName} '%'
            </if>
            <if test="CategoryLevel1 !=null">
                and a.categoryLevel1  = #{CategoryLevel1}
            </if>
            <if test="CategoryLevel2 !=null">
               and  a.categoryLevel2  = #{CategoryLevel2}
            </if>
            <if test="CategoryLevel3 !=null">
                and a.categoryLevel3  = #{CategoryLevel3}
            </if>
            <if test="FlatformId !=null">
                and  a.flatformId = #{FlatformId}
            </if>
            <if test="status !=null">
                and  a.status = #{status}
            </if>
            <if test="dId !=null">
                and a.devId = #{dId}
            </if>
        </where>
    </select>
    <select id="verifyApkName" resultType="AppInfo">
      select * from app_info
      <where>
          APKName  = #{APKName}
      </where>
    </select>
    <select id="getUpdInfoById" resultType="AppInfo">
        SELECT a.*,
        (SELECT devName FROM dev_user WHERE id = a.devId) AS devName,
        (SELECT valueName FROM data_dictionary d WHERE  a.status=d.valueId AND d.typeCode='APP_STATUS') AS statusName,
        (SELECT valueName FROM data_dictionary d WHERE  a.flatformId=d.valueId AND d.typeCode='APP_FLATFORM') AS flatformName,
        (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel1) AS categoryLevel1Name,
        (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel2) AS categoryLevel2Name,
        (SELECT categoryName FROM app_category c WHERE  c.id=a.categoryLevel3) AS categoryLevel3Name,
        (SELECT v.versionNo FROM app_version v WHERE v.id=a.versionId ) AS versionNo
        FROM  app_info a
        <where>
            id  = #{id}
        </where>
    </select>
    <update id="updateInfo" parameterType="AppInfo">
        update app_info
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="softwareName != null">softwareName=#{softwareName},</if>
            <!-- <if test="APKName != null">APKName=#{APKName},</if> -->
            <if test="supportROM != null">supportROM=#{supportROM},</if>
            <if test="interfaceLanguage != null">interfaceLanguage=#{interfaceLanguage},</if>
            <if test="updateDate != null">updateDate=#{updateDate},</if>
            <if test="softwareSize != null">softwareSize=#{softwareSize},</if>
            <if test="appInfo != null">appInfo=#{appInfo},</if>
            <if test="status != null">status=#{status},</if>
            <if test="onSaleDate != null">onSaleDate=#{onSaleDate},</if>
            <if test="offSaleDate != null">offSaleDate=#{offSaleDate},</if>
            <if test="categoryLevel1 != null">categoryLevel1=#{categoryLevel1},</if>
            <if test="categoryLevel2 != null">categoryLevel2=#{categoryLevel2},</if>
            <if test="categoryLevel3 != null">categoryLevel3=#{categoryLevel3},</if>
            <if test="downloads != null">downloads=#{downloads},</if>
            <if test="flatformId != null">flatformId=#{flatformId},</if>
            <if test="logoPicPath != null">logoPicPath=#{logoPicPath},</if>
            <if test="logoLocPath != null">logoLocPath=#{logoLocPath},</if>
            <if test="modifyBy != null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate != null">modifyDate=#{modifyDate},</if>
        </trim>
    </update>
    <update id="deleApplogo" parameterType="Integer">
        update app_info
        set logoPicPath=null,
        logoLocPath = null
        where id = #{id}
    </update>
    <update id="updAppVersion" parameterType="Integer">
        update app_info
        set versionId=#{vid}
        where id = #{aid}
    </update>
    <update id="modify" parameterType="AppVersion">
        update app_version
        <trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
            <if test="versionNo != null">versionNo=#{versionNo},</if>
            <if test="versionInfo != null">versionInfo=#{versionInfo},</if>
            <if test="publishStatus != null">publishStatus=#{publishStatus},</if>
            <if test="downloadLink != null">downloadLink=#{downloadLink},</if>
            <if test="apkLocPath != null">apkLocPath=#{apkLocPath},</if>
            <if test="versionSize != null">versionSize=#{versionSize},</if>
            <if test="apkFileName != null">apkFileName=#{apkFileName},</if>
            <if test="modifyBy != null">modifyBy=#{modifyBy},</if>
            <if test="modifyDate != null">modifyDate=#{modifyDate},</if>
        </trim>
    </update>
    <delete id="deleteAppInfoById" parameterType="Integer">
        delete from app_info where id = #{id}
    </delete>
    <update id="updateSatus">
        update app_info
        set status=#{status}
        where id = #{id}
    </update>
</mapper>